/* 
=============
IMPORTACIONES
=============
*/

@import url('../Assets/Fonts/GoogleFonts/OpenSans/OpenSans.css');
@import url('../Assets/Fonts/FontAwesome/Main.css');

/* 
=============
RESET ESTILOS
=============
*/

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0px;
  font-size: 1.6rem;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

h1, h2, h3 {
  margin: 0px;
  font-weight: normal;
  line-height: 1em;
}

p {
  margin: 0px;
}

figure {
  margin: 0px;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}

strong {
  font-weight: normal;
}

em {
  font-style: normal;
}

/* 
=========
VARIABLES
=========
*/

html {

  /* Dimensiones */
  --ancho-area-activa: 1400px;
  --altura-barra-superior: 60px;
  --ancho-boton-corto: 140px;
  --ancho-boton-medio: 170px;

  /* Espaciado */
  --padding-horizontal: 3rem;
  --padding-vertical: 10rem;

  /* Colores Primarios */
  --color-primario: hsl(130, 60%, 40%);
  --shade-primario-1: hsl(130, 70%, 30%);
  --shade-primario-2: hsl(130, 80%, 20%);

  /* Colores Secundarios */
  --color-secundario: hsl(200, 80%, 40%);
  --shade-secundario-1: hsl(200, 90%, 32%);
  --shade-secundario-2: hsl(200, 95%, 25%);

  /* Colores Neutros */
  --tint-neutro-1: hsl(0, 0%, 98%);
  --tint-neutro-2: hsl(0, 0%, 85%);
  --tint-neutro-3: hsl(0, 0%, 75%);
  --shade-neutro-1: hsl(0, 0%, 20%);
  --shade-neutro-2: hsl(0, 0%, 30%);

  /* Tipografía */
  --fuenteCuerpo: 'Open Sans', 'Segoe UI', sans-serif;

  /* Efectos */
  --transicion-general: all 300ms linear;
}

/* 
=================
ESTILOS GENERALES
=================
*/

body {
  font-family: var(--fuenteCuerpo);
  background-color: white;
}

main p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5em;
  color: var(--shade-neutro-1);
}

/* 
=======================
ELEMENTOS TRANSVERSALES
=======================
*/

[class|='boton'] {
  display: inline-block;
  width: var(--ancho-boton-corto);
  border-radius: 5px;
  border: none;
  padding: 1rem 0px;
  font-size: 1.3rem;
  font-weight: 300;
  text-transform: capitalize;
  cursor: pointer;
  transition: var(--transicion-general);
  transition-property: background-color, color;
}

.boton-primario {
  background-color: var(--color-primario);
  color: white;
}

.boton-primario:hover {
  background-color: var(--shade-primario-1);
}

.boton-secundario {
  background-color: var(--color-secundario);
  color: white;
}

.boton-secundario:hover {
  background-color: var(--shade-secundario-1);
}

.boton-claro {
  background-color: var(--tint-neutro-2);
  color: var(--shade-neutro-1);
}

.boton-claro:hover {
  background-color: var(--shade-neutro-2);
}

.boton-oscuro {
  background-color: var(--shade-neutro-1);
  color: white;
}

.boton-oscuro:hover {
  background-color: var(--shade-neutro-2);
}

main section h3.subtitulo-seccion {
  margin-bottom: 1rem; 
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: uppercase;
}

main section h2.titulo-seccion {
  font-size: 3.6rem;
  font-weight: 300;
  text-transform: capitalize;
}

/*
==========
ESTRUCTURA
==========
*/

div.area-activa {
  height: inherit;
  max-width: var(--ancho-area-activa);
  padding: 0px var(--padding-horizontal);
  margin: 0px auto;
}

/* 
===============
HEADER: GENERAL
===============
*/

header#header-pagina {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
}

header#header-pagina::before {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  background-color: hsla(0, 0%, 0%, 60%);
}

/* 
======================
HEADER: BARRA SUPERIOR
======================
*/

header#header-pagina div.barra-superior {
  position: fixed;
  width: 100%;
  height: var(--altura-barra-superior);
  top: 0px;
  z-index: 2;
  flex-grow: 0;
  background-color: hsla(0, 0%, 20%, 80%);
  color: var(--tint-neutro-2);
  transition: var(--transicion-general);
  transition-property: background-color;
}

header#header-pagina div.barra-superior div.area-activa {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

header#header-pagina div.barra-superior h1.logo {
  display: inline-flex;
  font-size: 2.4rem;
  font-weight: 400;
  align-items: baseline;
}

header#header-pagina div.barra-superior h1.logo em.enfasis-logo {
  color: var(--shade-primario-1);
}

header#header-pagina nav.barra-navegacion ul {
  display: flex;
}

header#header-pagina nav.barra-navegacion li {
  margin-left: 2rem;
}

header#header-pagina nav.barra-navegacion a {
  display: inline-block;
  padding: 0.75rem 1rem;
  font-size: 1.4rem;
  border-bottom: solid 2px transparent;
  transition: var(--transicion-general);
  transition-property: border-color;
}

header#header-pagina nav.barra-navegacion a:hover {
  border-bottom-color: var(--shade-primario-1);
}

/* 
===================
HEADER: BANNER HERO
===================
*/

header#header-pagina div.banner {
  display: flex;
  position: relative;
  z-index: 1;
  flex-grow: 1;
  padding-top: var(--altura-barra-superior);
  flex-flow: column nowrap;
  justify-content: center;
}

header#header-pagina div.banner div.contenido-banner {
  text-align: center;
  color: white;
}

/* 
================
SECCIÓN ESTÁNDAR
================
*/

section.seccion-estandar {
  background-image: linear-gradient(to right, var(--colores-gradiente));
}

section.seccion-estandar div.contenido-seccion {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

section.seccion-estandar div.contenido-seccion > [class|='columna'] {
  flex-basis: 50%;
}

section.seccion-estandar figure.columna-fotografia {
  aspect-ratio: 3 / 2;
}

section.seccion-estandar figure.columna-fotografia img {
  object-fit: cover;
  height: 100%;
}

section.seccion-estandar div.columna-informacion {
  --color-texto: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: var(--padding-vertical) var(--padding-horizontal);
}

section.seccion-estandar div.columna-informacion :is(p, button, h2, h3) {
  color: var(--color-texto);
}

section.seccion-estandar div.columna-informacion header {
  margin-bottom: 3rem;
}

section.seccion-estandar {
  font-size: 1.5rem;
}

section.seccion-estandar div.columna-informacion a.boton-primario {
  display: flex;
  margin-top: 2rem;
  border: solid 1px var(--color-texto);
  background-color: transparent;
  font-size: 1.4rem;
  font-weight: 400;
  justify-content: center;
  align-items: center;
}

section.seccion-estandar div.columna-informacion a.boton-primario i {
  width: 0px;
  margin-left: 0px;
  opacity: 0;
  font-size: 0.75em;
  transition: var(--transicion-general);
  transition-property: margin-left, opacity, width;
}

section.seccion-estandar div.columna-informacion a.boton-primario:hover i {
  display: inline-block;
  margin-left: 0.75rem;
  opacity: 1;
  width: 1em;
}
