/* 
=============
IMPORTACIONES
=============
*/

@import url('../Assets/Fonts/GoogleFonts/OpenSans/OpenSans.css');
@import url('../Assets/Fonts/FontAwesome/Main.css');

/* 
=============
RESET ESTILOS
=============
*/

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0px;
  font-size: 1.6rem;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

h1, h2, h3, h4 {
  margin: 0px;
  font-weight: normal;
  line-height: 1em;
}

p {
  margin: 0px;
}

figure {
  margin: 0px;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}

strong {
  font-weight: normal;
}

em {
  font-style: normal;
}

input {
  font-family: inherit;
}

/* 
=========
VARIABLES
=========
*/

html {

  /* Dimensiones */
  --altura-banner: 220px;
  --ancho-area-activa: 1400px;
  --ancho-boton-corto: 140px;
  --ancho-boton-medio: 170px;

  /* Espaciado */
  --padding-horizontal: 4rem;
  --padding-vertical: 10rem;

  /* Colores Primarios */
  --componentes-primario: 130, 60%, 40%;
  --color-primario: hsl(130, 60%, 40%);
  --shade-primario-1: hsl(130, 70%, 30%);
  --shade-primario-2: hsl(130, 80%, 20%);

  /* Colores Secundarios */
  --color-secundario: hsl(200, 80%, 40%);
  --shade-secundario-1: hsl(200, 50%, 60%);
  --shade-secundario-2: hsl(200, 95%, 25%);

  /* Colores Neutros */
  --tint-neutro-1: hsl(0, 0%, 98%);
  --tint-neutro-2: hsl(0, 0%, 94%);
  --tint-neutro-3: hsl(0, 0%, 88%);
  --tint-neutro-4: hsl(0, 0%, 80%);
  --shade-neutro-1: hsl(0, 0%, 15%);
  --shade-neutro-2: hsl(0, 0%, 25%);

  /* Tipografía */
  --fuenteCuerpo: 'Open Sans', 'Segoe UI', sans-serif;

  /* Efectos */
  --transicion-general: all 300ms linear;
}

/* 
=================
ESTILOS GENERALES
=================
*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--fuenteCuerpo);
  background-color: white;
}

main p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5em;
  color: var(--shade-neutro-1);
}

section[id] {
  scroll-margin-top: calc(var(--altura-barra-superior) - 1px);
}

/* 
=======================
ELEMENTOS TRANSVERSALES
=======================
*/

[class|='boton'] {
  display: inline-block;
  width: var(--ancho-boton-corto);
  border-radius: 5px;
  border: none;
  padding: 1.2rem 0px;
  font-size: 1.3rem;
  font-weight: 300;
  text-transform: capitalize;
  cursor: pointer;
  transition: var(--transicion-general);
  transition-property: background-color, color;
}

.boton-primario {
  background-color: var(--color-primario);
  color: white;
}

.boton-primario:hover {
  background-color: var(--shade-primario-1);
}

.boton-secundario {
  background-color: var(--color-secundario);
  color: white;
}

.boton-secundario:hover {
  background-color: var(--shade-secundario-1);
}

.boton-claro {
  background-color: var(--tint-neutro-2);
  color: var(--shade-neutro-1);
}

.boton-claro:hover {
  background-color: white;
}

.boton-oscuro {
  background-color: var(--shade-neutro-2);
  color: white;
}

.boton-oscuro:hover {
  background-color: var(--shade-neutro-1);
}

.boton-outline {
  padding: 1rem 0px;
  border: solid 1px currentColor;
  background-color: transparent;
}

.boton-chevron {
  display: inline-flex;
  justify-content: center;
  align-items: baseline;
}

.boton-chevron i {
  width: 0px;
  margin-left: 0px;
  opacity: 0;
  font-size: 0.7em;
  transform: translateY(-10%);
  transition: var(--transicion-general);
  transition-property: margin-left, opacity, width;
}

.boton-chevron:hover i {
  display: inline-block;
  margin-left: 0.65em;
  opacity: 1;
  width: 1em;
}

main section h3.subtitulo-seccion {
  margin-bottom: 1rem; 
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: uppercase;
}

main section h2.titulo-seccion {
  font-size: 3.6rem;
  font-weight: 300;
  text-transform: capitalize;
}

/*
==========
ESTRUCTURA
==========
*/

body {
  display: flex;
  min-height: 100vh;
  flex-flow: column nowrap;
}

main {
  flex-grow: 1;
}

div.area-activa {
  height: inherit;
  max-width: var(--ancho-area-activa);
  padding: 0px var(--padding-horizontal);
  margin: 0px auto;
}

/* 
===============
HEADER: GENERAL
===============
*/

header#header-pagina {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  background-image: var(--ruta-imagen-fondo-header);
  background-size: cover;
  background-position: center;
}

header#header-pagina::before {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  background-color: hsla(0, 0%, 0%, 60%);
}

/* 
======================
HEADER: BARRA SUPERIOR
======================
*/

header#header-pagina div.barra-superior {
  position: fixed;
  width: 100%;
  height: var(--altura-barra-superior);
  top: 0px;
  z-index: 2;
  background-color: hsla(0, 0%, 20%, 90%);
  color: var(--tint-neutro-2);
  transition: var(--transicion-general);
  transition-property: background-color;
}

header#header-pagina div.barra-superior div.contenido-barra {
  display: flex;
  height: inherit;
}

header#header-pagina div.barra-superior h1.logo {
  display: flex;
  font-weight: 400;
  align-items: baseline;
}

header#header-pagina div.barra-superior h1.logo em.enfasis-logo {
  color: var(--shade-primario-1);
}

header#header-pagina nav.barra-navegacion ul {
  flex-flow: row wrap;
}

header#header-pagina nav.barra-navegacion a {
  display: inline-block;
  padding: 0.75rem 1rem;
  font-size: 1.4rem;
  border-bottom: solid 2px transparent;
  transition: var(--transicion-general);
  transition-property: border-color;
}

header#header-pagina nav.barra-navegacion a:hover {
  border-bottom-color: var(--shade-primario-1);
}

/* 
============================
MEDIA QUERIES BARRA SUPERIOR
============================
*/

/* Break Points: A) 0px, B) 540px, C) 720px, D) 960px, E) 1200px */

/* Rango AB: < 540px */
@media (max-width: 539px) {
  html {
    --altura-barra-superior: 160px;
  }

  header#header-pagina div.barra-superior div.area-activa {
    padding: 0px;
  }

  header#header-pagina nav.barra-navegacion ul {
    display: flex;
    justify-content: center;
  }
  
  header#header-pagina nav.barra-navegacion ul:not(:first-of-type) {
    margin-top: 0.5rem;
  }

  header#header-pagina nav.barra-navegacion li {
    margin: 0px 0.5rem;
  }
}

/* Rango BC: 540px - 720px */
@media (min-width: 540px) and (max-width: 719px) {
  html {
    --altura-barra-superior: 120px;
  }

  header#header-pagina nav.barra-navegacion {
    text-align: center;
  }

  header#header-pagina nav.barra-navegacion ul {
    justify-content: center;
  }

  header#header-pagina nav.barra-navegacion li {
    margin: 0px 1rem;
  }
}

/* Rango BZ: > 540px */
@media (min-width: 540px) {
  header#header-pagina nav.barra-navegacion ul {
    display: inline-flex;
  }
}

/* Rango AC: < 720px */
@media (max-width: 719px) {
  header#header-pagina div.barra-superior div.contenido-barra {
    flex-flow: column nowrap;
    justify-content: center;
  }

  header#header-pagina div.barra-superior h1.logo {
    margin-bottom: 1.5rem;
    justify-content: center;
    font-size: 2.8rem;
  }
}

/* Rango CZ: > 720px */
@media (min-width: 720px) {
  html {
    --altura-barra-superior: 60px;
  }

  header#header-pagina div.barra-superior div.contenido-barra {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  header#header-pagina div.barra-superior h1.logo {
    font-size: 2.4rem;
  }

  header#header-pagina nav.barra-navegacion li {
    margin-left: 2rem;
  }
}

/* 
===================
HEADER: BANNER HERO
===================
*/

header#header-pagina div.banner {
  display: flex;
  position: relative;
  z-index: 1;
  flex-grow: 1;
  padding-top: var(--altura-barra-superior);
  flex-flow: column nowrap;
  justify-content: center;
}

header#header-pagina div.banner div.contenido-banner {
  text-align: center;
  color: white;
}

header#header-pagina div.contenido-banner {
  padding: 0px var(--padding-horizontal);
}

header#header-pagina div.banner h2.titulo-seccion {
  margin-bottom: 1rem;
  font-size: 4.4rem;
  font-weight: 300;
}

/* 
================
SECCIÓN ESTÁNDAR
================
*/

section.seccion-estandar {
  background-image: linear-gradient(to right, var(--colores-gradiente));
}

section.seccion-estandar div.area-activa {
  padding: 0px;
}

section.seccion-estandar div.contenido-seccion {
  display: flex;
}

section.seccion-estandar div.columna-informacion {
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: var(--padding-vertical) var(--padding-horizontal);
}

section.seccion-estandar div.informacion-seccion {
  color: inherit;
}

section.seccion-estandar div.columna-informacion :is(p, button, h2, h3) {
  color: inherit;
}

section.seccion-estandar div.columna-informacion header {
  margin-bottom: 3rem;
}

section.seccion-estandar div.columna-informacion {
  font-size: 1.5rem;
}

section.seccion-estandar div.columna-informacion a[class|='boton'] {
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 400;
}

/* 
==============================
MEDIA QUERIES SECCIÓN ESTÁNDAR
==============================
*/

/* Break Points: A) 0px, B) 540px, C) 720px, D) 960px, E) 1200px */

/* Rango AC: < 720px */
@media (max-width: 719px) {
  section.seccion-estandar div.contenido-seccion {
    flex-flow: column nowrap;
  }
  section.seccion-estandar figure.columna-fotografia {
    height: auto;
  }
  section.seccion-estandar figure.columna-fotografia img {
    height: auto;
  }
}

/* Rango CZ: > 720px */
@media (min-width: 720px) {
  section.seccion-estandar div.contenido-seccion {
    flex-flow: row nowrap;
    align-items: stretch;
  }
  section.seccion-estandar div.contenido-seccion > [class|='columna'] {
    flex-basis: 50%;
  }
  section.seccion-estandar figure.columna-fotografia {
    aspect-ratio: 3 / 2;
  }
  section.seccion-estandar figure.columna-fotografia img {
    object-fit: cover;
    height: 100%;
  }
}

/* 
=======================
HEADER ESTÁNDAR SECCIÓN
=======================
*/

section header.header-estandar {
  text-align: center;
  margin-bottom: 4rem;
}

section header.header-estandar h2.titulo-seccion {
  margin-bottom: 2rem;
}

/* 
=======================
SECCIONES PUBLICACIONES
=======================
*/

section.seccion-publicacion p.datos-publicacion {
  margin-top: 1.5rem;
}

section.seccion-publicacion p.datos-publicacion i.fas {
  margin-right: 0.5rem;
}

section.seccion-publicacion p.datos-publicacion strong {
  font-weight: 700;
}

/* 
=============
PIE DE PÁGINA
=============
*/

footer#footer-pagina {
  background-color: var(--shade-neutro-1);
  padding: 5rem 0px;
  color: white;
}

footer#footer-pagina ul.fila-iconos-redes {
  display: flex;
  margin-bottom: 0.75rem;
  justify-content: center;
  flex-flow: row wrap;
}

footer#footer-pagina ul.fila-iconos-redes li {
  margin: 0px 1rem;
}

footer#footer-pagina ul.fila-iconos-redes li a:hover {
  transition: var(--transicion-general);
  transition-property: color;
}

footer#footer-pagina ul.fila-iconos-redes li a:hover {
  color: var(--color-primario);
}

footer#footer-pagina ul.fila-iconos-redes li i {
  font-size: 2.2rem;
}

footer#footer-pagina p.fila-copyright {
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
}
