/* 
=============
IMPORTACIONES
=============
*/

@import url('Base.css');

/* 
=========
VARIABLES
=========
*/

header#header-pagina {
  --ruta-imagen-fondo-header: url('../Assets/Images/Home/Hero.jpg');
}

/* 
===================
HEADER: BANNER HERO
===================
*/

header#header-pagina {
  height: 100vh;
  background-position: center bottom;
  background-attachment: fixed;
}

header#header-pagina div.banner p.tagline {
  font-size: 1.9rem;
  font-weight: 300;
}

header#header-pagina div.banner p.tagline strong {
  font-weight: bolder;
}

header#header-pagina div.banner a[class|='boton'] {
  width: var(--ancho-boton-medio);
  margin-top: 3.5rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-size: 1.6rem;
  font-weight: 400;
}

header#header-pagina div.banner a[class|='boton']:hover i {
  margin-left: 0.5em;
}

/* 
=================
SECCIÓN: FEATURES
=================
*/

section#seccion-features {
  background-color: var(--tint-neutro-1);
}

section#seccion-features div.galeria-features {
  display: flex;
  padding: 5rem 0px;
}

section#seccion-features div.galeria-features article {
  text-align: center;
}

section#seccion-features div.galeria-features article header {
  margin-bottom: 2rem;
}

section#seccion-features div.galeria-features div.icono {
  --diametro-icono: 6rem;
  display: inline-flex;
  width: var(--diametro-icono);
  height: var(--diametro-icono);
  border-radius: 50%;
  margin-bottom: 1.5rem;
  background-color: var(--color-primario);
  justify-content: center;
  align-items: center;
}

section#seccion-features div.galeria-features div.icono i {
  font-size: 2.5rem;
  color: white;
}

section#seccion-features div.galeria-features h3.titulo {
  font-size: 1.7rem;
  font-weight: bold;
}

section#seccion-features div.galeria-features p.descripcion {
  font-size: 1.5rem;
}

/* 
==============================
MEDIA QUERIES SECCIÓN FEATURES
==============================
*/

/* Break Points: A) 0px, B) 540px, C) 720px, D) 960px, E) 1200px */

/* Rango AB: < 540px */
@media (max-width: 539px) {
  section#seccion-features div.galeria-features {
    flex-flow: column nowrap;
  }

  section#seccion-features div.galeria-features article:not(:first-of-type) {
    margin-top: 5rem;
  }
}

/* Rango BZ: > 540px */
@media (min-width: 540px) {
  section#seccion-features div.galeria-features {
    --gutter-galeria: 20px;
    margin: 0px calc(-1*var(--gutter-galeria));
    flex-flow: row wrap;
  }

  section#seccion-features div.galeria-features article {
    flex-basis: calc(100% / var(--numero-columnas));
    padding: 0px var(--gutter-galeria);
  }
}

/* Rango BC: 540px - 720px */
@media (min-width: 540px) and (max-width: 719px) {
  section#seccion-features div.galeria-features {
    --numero-columnas: 2;
  }

  section#seccion-features div.galeria-features article:last-of-type {
    margin-top: 5rem;
    flex-basis: 100%;
  }
}

/* Rango DZ: > 720px */
@media (min-width: 720px) {
  section#seccion-features div.galeria-features {
    --numero-columnas: 3;
  }
}

/* 
===================
SECCIÓN: SOLUCIONES
===================
*/

section#seccion-soluciones {
  --colores-gradiente: var(--shade-primario-2), var(--color-primario);
}

section#seccion-soluciones figure.columna-fotografia {
  order: 1;
}

section#seccion-soluciones div.columna-informacion {
  order: 2;
}

section#seccion-soluciones div.columna-informacion h2.titulo-seccion {
  text-transform: none;
}

section#seccion-soluciones div.columna-informacion a[class|='boton'] {
  width: var(--ancho-boton-corto);
}

/* 
=================
SECCIÓN: NEGOCIOS
=================
*/

section#seccion-negocios {
  padding: var(--padding-vertical) 0px;
}

section#seccion-negocios div.galeria-negocios {
  display: flex;
}

section#seccion-negocios div.galeria-negocios figure {
  position: relative;
  aspect-ratio: 3 / 2;
  margin-top: calc(2 * var(--gutter-galeria));
}

section#seccion-negocios div.galeria-negocios figure::after {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  content: '';
  background-color: white;
  opacity: 0;
  transition: var(--transicion-general);
  transition-property: opacity;
}

section#seccion-negocios div.galeria-negocios figure:hover {
  cursor: pointer;
}

section#seccion-negocios div.galeria-negocios figure:hover::after {
  opacity: 0.35;
}

section#seccion-negocios div.galeria-negocios img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

/* 
================
SECCIÓN NEGOCIOS
================
*/

/* Break Points: A) 0px, B) 540px, C) 720px, D) 960px, E) 1200px */

/* Rango AB: < 540px */
@media (max-width: 539px) {
  section#seccion-negocios div.galeria-negocios {
    --gutter-galeria: 1rem;
    flex-flow: column nowrap;
  }

  section#seccion-negocios div.galeria-negocios figure {
    width: 100%;
  }
}

/* Rango BZ: > 540px */
@media (min-width: 540px) {
  section#seccion-negocios div.area-activa {
    overflow-x: hidden;
  }

  section#seccion-negocios div.galeria-negocios {
    --gutter-galeria: 0.4rem;
    margin: 0px calc(-1 * var(--gutter-galeria));
    flex-flow: row wrap;
  }

  section#seccion-negocios div.galeria-negocios figure {
    flex-basis: calc(100% / var(--numero-columnas));
    padding: 0px var(--gutter-galeria);
  }
}

/* Rango BD: < 960px */
@media (min-width: 540px) and (max-width: 959px) {
  section#seccion-negocios div.galeria-negocios {
    --numero-columnas: 2;
  }

  section#seccion-negocios div.galeria-negocios figure:nth-of-type(9) {
    display: none;
  }
}

/* Rango DE: 960px - 1200px */
@media (min-width: 960px) and (max-width: 1199px) {
  section#seccion-negocios div.galeria-negocios {
    --numero-columnas: 3;
  }
}

/* Rango EZ: > 1200px */
@media (min-width: 1200px) {
  section#seccion-negocios div.galeria-negocios {
    --numero-columnas: 4;
  }

  section#seccion-negocios div.galeria-negocios figure:nth-of-type(9) {
    display: none;
  }
}

/* 
=============
SECCIÓN: BLOG
=============
*/

section#seccion-blog {
  --colores-gradiente: var(--shade-secundario-2), var(--color-secundario);
}

section#seccion-blog div.columna-informacion a[class|='boton'] {
  width: var(--ancho-boton-medio);
}

/* 
==========================
MEDIA QUERIES SECCIÓN BLOG
==========================
*/

/* Break Points: A) 0px, B) 540px, C) 720px, D) 960px, E) 1200px */

/* Rango AC: < 720px */
@media (max-width: 719px) {
  section#seccion-blog figure.columna-fotografia {
    order: 1;
  }
  section#seccion-blog div.columna-informacion { 
    order: 2;
  }
}

/* Rango CZ: > 720px */
@media (min-width: 720px) {
  section#seccion-blog figure.columna-fotografia {
    order: 2;
  }
  section#seccion-blog div.columna-informacion { 
    order: 1;
  }
}

/*
===============
SECCIÓN: EQUIPO
===============
*/

section#seccion-equipo {
  padding: var(--padding-vertical) 0px;
}

section#seccion-equipo div.galeria-equipo {
  display: flex;
}

section#seccion-equipo article.miembro-equipo {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

section#seccion-equipo article.miembro-equipo figure {
  --altura-maxima: 260px;
  --gutter-fotografias: 4rem;
  width: calc(100% - var(--gutter-fotografias));
  max-width: var(--altura-maxima);
  aspect-ratio: 1 / 1;
  max-height: var(--altura-maxima);
  margin-bottom: 2rem;
}

section#seccion-equipo article.miembro-equipo figure img {
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

section#seccion-equipo article.miembro-equipo figure.sujeto-izquierda img {
  object-position: 35% center;
}

section#seccion-equipo article.miembro-equipo figure.sujeto-derecha img {
  object-position: 85% center;
}

section#seccion-equipo article.miembro-equipo h4.nombre {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.35rem;
}

/* 
============================
MEDIA QUERIES SECCIÓN EQUIPO
============================
*/

/* Break Points: A) 0px, B) 540px, C) 720px, D) 960px, E) 1200px */

/* Rango AB: < 540px */
@media (max-width: 539px) {
  section#seccion-equipo div.galeria-equipo {
    flex-flow: column nowrap;
  }
  
  section#seccion-equipo div.galeria-equipo article:not(:first-of-type) {
    margin-top: 5rem;
  }
}

/* Rango BZ: > 540px */
@media (min-width: 540px) {
  section#seccion-equipo div.galeria-equipo {
    flex-flow: row wrap;
    justify-content: center;
  }

  section#seccion-equipo div.galeria-equipo article.miembro-equipo {
    width: calc(100% / var(--numero-columnas));
    padding: 0px var(--gutter-galeria);
  }
}

/* Rango BC: 540px - 720px */
@media (min-width: 540px) and (max-width: 719px) {
  section#seccion-equipo div.galeria-equipo {
    --numero-columnas: 2;
  }

  section#seccion-equipo div.galeria-equipo article:last-of-type {
    margin-top: 3rem;
  }
}

/* Rango DZ: > 720px */
@media (min-width: 720px) {
  section#seccion-equipo div.galeria-equipo {
    --numero-columnas: 3;
  }
}

/* 
===========================
SECCIÓN FORMULARIO CONTACTO
===========================
*/

section#seccion-contacto {
  --colores-gradiente: var(--tint-neutro-1), var(--tint-neutro-2);
}

section#seccion-contacto div.columna-informacion {
  color: var(--shade-neutro-1);
}

section#seccion-contacto form div.grupo-formulario {
  display: flex;
}

section#seccion-contacto form div.grupo-formulario label {
  font-size: 1.3rem;
  font-weight: 300;
  width: 12ch;
}

section#seccion-contacto form div.grupo-formulario input {
  width: auto;
  flex-grow: 1;
  border-radius: 2px;
  padding: 1.25rem 1.5rem;
  border-style: none;
  font-size: 1.5rem;
  outline: solid 1px transparent;
  transition: var(--transicion-general);
  transition-property: outline-color;
}

section#seccion-contacto form div.grupo-formulario input:focus {
  outline-color: hsla(var(--componentes-primario), 65%);
}

section#seccion-contacto form div.grupo-formulario input::placeholder {
  font-size: 1.3rem;
}

section#seccion-contacto form.formulario-contacto footer.fila-boton {
  margin-top: 2.5rem;
}

section#seccion-contacto form.formulario-contacto button[class|='boton'] {
  width: 100%;
  padding: 1.25rem 0px;
  font-size: 1.4rem;
  font-weight: normal;
  color: white;
}

/* 
=========================================
MEDIA QUERIES SECCIÓN FORMULARIO CONTACTO
=========================================
*/

/* Break Points: A) 0px, B) 540px, C) 720px, D) 960px, E) 1200px */

/* Rango AB: < 540px */
@media (max-width: 539px) {
  section#seccion-contacto header h2.titulo-seccion {
    text-align: center;
  }

  section#seccion-contacto form div.grupo-formulario {
    flex-flow: column nowrap;
  }

  section#seccion-contacto form div.grupo-formulario label {
    margin-bottom: 1rem;
  }

  section#seccion-contacto form div.grupo-formulario:not(:first-of-type) {
    margin-top: 2rem;
  }
}

/* Rango BZ: > 540px */
@media (min-width: 540px) {
  section#seccion-contacto header h2.titulo-seccion {
    text-align: left;
  }

  section#seccion-contacto form div.grupo-formulario {
    flex-flow: row wrap;
    align-items: baseline;
  }
  
  section#seccion-contacto form div.grupo-formulario:not(:first-of-type) {
    margin-top: 1.5rem;
  }
}
